/* Generales */
:root {
    --primary-light: #51403c;
    --primary-dark: #241916;
    --background: #f9fcf5;
    --texts: #372a28;
    --gray: #847F90;
    --white: #FCFCFC;
    
    /* sizes */
    
    --font-size-h1: 5rem;
    --font-size-h2: 3rem;
    --font-size-h3: 2rem;
    --font-size-h4: 1.8rem;
    --font-size-h5: 1.3rem;
    --font-size-h6: 0.87rem ;
    --font-size-P: 0.75rem;
    --border-radius: 0.5rem;
    --navbar-height: 4rem;
    --gap: 1.5rem;
    --fontButtons: 0.99rem;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}


/* Navbar */

.menu__wrapper {
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", serif;
    width: 100%;
    z-index: 2;
    gap: var(--gap);
    background: var(--background);
    height: var(--navbar-height);
    padding: 0.7rem;
    align-items: center;
}

.menu__bar {
    display: flex;
    gap: var(--gap);
    align-items: center;
    width: 100%;
}

h1 {
    color: var(--texts);
    font-weight: 500;
    font-family: "Bebas Neue", serif;
    letter-spacing: 3px;
    font-size: var(--font-size-h3);
}

a {
    text-decoration: none;
    color: var(--texts);
}


.navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    font-family: "Montserrat", serif;
    gap: 0.5rem;
}

.navigation>li {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    height: var(--navbar-height);
}

.navigation>li>button>svg {
    fill: var(--texts);
    color: var(--texts);
    transition: all 0.2s ease-in-out;
}

.navigation>li>a {
    color: var(--texts);
    font-size: 0.875rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.navigation>li>button {
    color: var(--texts);
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: 300;
    gap: 0.25rem;
    opacity: 1;
    align-items: center;
    font-size: var(--font-size-h6);
    flex-wrap: nowrap;
    white-space: nowrap;
    background: none;
    display: flex;
    padding: 0.185rem 0;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.dropdown {
    position: absolute;
    top: 3.5rem;
    min-width: 15rem;
    border-radius: 0.5rem;
    background: var(--white);
    display: none;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 5px 30px rgba(27, 31, 35, 0.1),
        0 0 1px rgba(27, 31, 35, 0.4),
        0 1px 2px rgba(27, 31, 35, 0.15);
    z-index: 2;
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.99) translateY(-0.7em);
        transform-origin: top;
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.dropdown h3 {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.list-menu-items {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 0.25rem;
    font-family: "Montserrat", serif;
}

.list-menu-items>li>a {
    display: flex;
    gap: 1rem;
    padding: 0.30rem;
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--texts);
    text-decoration: none;
    font-family: "Montserrat", serif;
}

.material-symbols-outlined {
    font-size: var(--font-size-h5);
    margin-left: 0.7rem;
}

.list-menu-items>li>a:hover {
    color: var(--gray);
}

.list-items-with-description {
    list-style-type: none;
}

.list-items-with-description li {
    display: flex;
    padding: 0.20rem;
    width: 100%;
}

.list-items-with-description li:hover {
    color: var(--gray);
}

.list-items-with-description li svg {
    width: 1rem;
    height: 1rem;
    stroke: var(--primary);
}

.item-title h3 {
    font-size: var(--font-size-h6);
    font-weight: 600;
}

.item-title p {
    font-size: var(--font-size-P);
}

.navigation>li:hover .dropdown {
    display: flex;
    opacity: 1;
}

.action-buttons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: nowrap;
}

.action-buttons a {
    text-decoration: none;
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    transition: all 0.2s ease-in-out;
}

.action-buttons a:hover {
    opacity: .75;
}

.secondary {
    background: none;
    color: var(--texts);
    outline: none;
    border: none;
}

.primary {
    color: var(--texts);
    border-radius: 0.5rem;
    border: 1px solid var(--white);
}

.burger-menu {
    display: none;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}

.burger-menu svg {
    stroke: var(--texts);
}

/* Buscador */

#Buscador {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 24px;
    background-position: 0% 50%;
    background-color: var(--background);
    border-radius: 0.5rem;
    width: 500px;
    box-shadow: 3px 8px 10px rgba(78, 78, 78, 0.151);
    border: transparent;
    border-bottom: solid 1px #ccc;
    padding: 10px 10px 10px 25px;
    outline: none;
    margin: 0 1rem 0 0;
}

.footer {
    background: #ffffff;
    padding: 30px 0px;
    font-family: "Montserrat", serif;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: sticky;
    margin-top: auto;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: var(--texts);
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: var(--texts);
    transition: 0.5s;
}

.footer .row a:hover {
    color: #080606;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}


/* SLIDER HOME */

.background {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.slider-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.slider {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 90vh;
    transition: transform 0.5s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dots-container {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: rgba(29, 27, 27, 0.5);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: solid 1.4px rgb(87, 59, 59);
    padding: 0.3rem;
}

.dot.active {
    background-color: rgba(255, 255, 255, 1);
}

/* CardsHome */

/* Tesxt home */

div>.home-h2 {
    /* font-family: "Bebas Neue", serif; */
    font-family: "Montserrat", serif;
    color: var(--texts) ;
    /* letter-spacing: 0.4rem; */
    text-align: center;
    margin:8rem 0 4rem 0;
    font-size: var(--font-size-h2);
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-block: 6rem;

}


.card-menu {
    min-height: 10rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    height: 20rem;
    width: 28rem;

    border: 2px solid rgba(230, 216, 216, 0.548);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, 0.089);

    backdrop-filter: blur(20px);
}


.sect-cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 4rem;
}

.text-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    color:var(--texts);
    font-size: 2.4rem;
    font-family: "Montserrat", serif;
    text-align: center;
    font-weight: 300;
}

 .shop {
    background-color: rgba(255, 255, 255, 0.993);
    box-shadow: 6px 5px 1px 0px rgba(0, 0, 0, 0.25);
    height: 3.7rem;
    border: none;
    width: 7rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.shop:hover {
    box-shadow: inset 6px 5px 1px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/* CARDS DINAMICAS DE COMPRAS */

#category-title{
    text-align: center;
    color: var(--background);
    font-size: var(--font-size-h1);
    height: 25rem;
    align-items: center;
    display: flex;
    justify-content: center;
    letter-spacing: 1.3rem;
}

.text-bacground{
    background-image:url("../imgs/banners/wallpapers.png");
}


#products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
    padding: 0 1rem;
}

.product-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fdf8f8;
    font-family: "Montserrat", serif;
    color: var(--texts);
    border-radius: var(--border-radius);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
    height: 25rem;
    width: 36rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    margin-bottom: 1rem;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.img-sep {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-sep img {
    width: 100%;
    height: 30rem;
    max-width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.img-sep img:hover{
    transform: scale(1.3);
    transition: 2s ease-in-out;
}

.content-p-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 0.8rem;
    flex-grow: 1;
    width: 50%; 
}

.content-p-cards h3,
.content-p-cards p {
    margin: 0;
    padding: 0;
}

.content-p-cards h3 {
    font-size: var(--font-size-h3);
    font-weight: bold;
    color: var(--texts);
}

.content-p-cards p {
    font-size: 0.9rem;
    color: var(--primary-dark);
    line-height: 1.5;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: max-content; 
}

.comp-card{
    background-color: var(--primary-dark);
    font-size: var(--fontButtons);
    color: var(--background);
    border: none;
    border-radius: var(--border-radius);
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.ver-mas-card {
    background-color: rgb(255, 255, 255);
    border: none;
    font-weight: 600;
    border-radius: var(--border-radius);
    padding: 0.8rem 1.5rem;
    font-size: var(--fontButtons);
    color: var(--texts);
    box-shadow:inset 10px 8px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comp-card:hover,
.ver-mas-card:hover {
    background-color: var(--primary-light);
    color: var(--background);
}

.comp-card:focus,
.ver-mas-card:focus {
    outline: none;
}

.comp-card:active,
.ver-mas-card:active {
    transform: scale(0.98);
}

.mode-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

/* DARK MODE */

.dark-mode {
    --primary-light2: #ffffff;
    --primary-dark: #1a1210;
    --background: #1a1210;
    --texts: #f1e7e1;
    --gray: #847F90;
    --white: #241916;
    --black: #000000;
}

.dark-mode #category-title {
    color: var(--primary-light2);
}

.dark-mode .product-card{
    background-color: #000000;
}

.dark-mode .product-card p {
    color: var(--primary-light2);
}

.dark-mode{
    background-color: #0c0b0b;
    
  }

  .dark-mode h1, .home-h2{
    color: var(--primary-light2);
  }
  
  .dark-mode .menu__wrapper{
    background-color: #000000;
    color: var(--primary-light2);
  }

  .dark-mode .dropdown {
    background-color: #000000;
    color: var(--primary-light2);
  }

  .dark-mode nav a {
    color: var(--primary-light2);
  }

  .dark-mode nav button {
    color: var(--primary-light2);
  }

  .dark-mode #Buscador {
    background-color: rgb(255, 255, 255);
  }
  
  .dark-mode .footer {
    background: var(--black);
    color: var(--primary-light2);
}

/* cards home */

.dark-mode .card-menu{
    background-color: #000000;
    border: #080606;
    box-shadow: 1px 8px 8px 1px rgba(61, 61, 61, 0.089);
}

.dark-mode .card-menu .shop {
    background-color: #121212;
}
 
  
  .dark-mode .mode-toggle {
    color: var(--primary-light2);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
.dark-mode .comp-card {
    color: var(--primary-light2);
}

.dark-mode .ver-mas-card{
    color: var(--black);
}




@media (max-width: 768px) {
    .product-card {
        flex-direction: column;
        height: auto; 
        width: 100%;
    }

    .img-sep {
        width: 100%; 
        height: 50%; 
    }

    .content-p-card {
        padding: 1rem;  

    }
}


@media (max-width: 720px) {
    a h1 {
        font-size: 1rem;
    }

    .hide {
        display: none;
    }

    .menu__wrapper {
        display: flex;
        justify-content: space-between;
    }


    .action-buttons {
        order: 0;
    }

    #Buscador {
        display: none;
    }

    .footer {
        text-align: center;
        padding: 5%;
    }

    .footer .row ul li {
        display: flex;
        margin: 20px 0px;
        justify-content: center;
        text-align: left;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}

@media (max-width: 1250px) {
    a h1 {
        font-size: 1rem;
    }

    .hide {
        display: none;
    }

    .menu__wrapper {
        display: flex;
        justify-content: space-between;
    }


    .action-buttons {
        order: 0;
    }

    #Buscador {
        display: none;
    }

    .burger-menu {
        display: flex;
        align-items: center;
    }
}


@media (max-width: 760px) {
    .burger-menu {
        display: flex;
        align-items: center;
    }
    .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 15%;
    }
}






